<!DOCTYPE html>
<div class="content-wrapper">
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<input type="button" id="back" value="Back" class="btn btn-default btn-sm">
    		</div>
    	</div
        [% INCLUDE 'teste2/search-database/_forms.tt' %]
    </div>
</div>
<script>
    $("#parentCollapseOne").click(function ()
    {
        $("#parentCollapseOne").removeClass("panel-default");
        $("#parentCollapseTwo").removeClass("panel-primary");
        $("#parentCollapseThree").removeClass("panel-primary");
        $("#parentCollapseOne").addClass("panel-primary");
        $("#parentCollapseTwo").addClass("panel-default");
        $("#parentCollapseThree").addClass("panel-default");
    });
    $("#parentCollapseTwo").click(function ()
    {
        $("#parentCollapseTwo").removeClass("panel-default");
        $("#parentCollapseOne").removeClass("panel-primary");
        $("#parentCollapseThree").removeClass("panel-primary");
        $("#parentCollapseTwo").addClass("panel-primary");
        $("#parentCollapseOne").addClass("panel-default");
        $("#parentCollapseThree").addClass("panel-default");
    });
    $("#parentCollapseThree").click(function ()
    {
        $("#parentCollapseThree").removeClass("panel-default");
        $("#parentCollapseTwo").removeClass("panel-primary");
        $("#parentCollapseOne").removeClass("panel-primary");
        $("#parentCollapseThree").addClass("panel-primary");
        $("#parentCollapseOne").addClass("panel-default");
        $("#parentCollapseTwo").addClass("panel-default");
    });
</script>
<script src="/assets/js/services-client.js"></script>
<script src="/assets/js/site-client.js"></script>
<script src="/assets/js/action.js"></script>

