#**********************************************************************************
#
PIPELINE= Annotation of bacterial genome
#
#**********************************************************************************
#==================================================================================
PHASE= Upload FASTA
program = upload_fasta.pl
#----------------------------------------------------------------------------------
multifastafile = bacteria.fasta
sequence_type = n
use_quality = yes
quality_file =
set_quality = 13
project_name = "Bacteria_for_course"
project_description = "by Arthur Gruber"
sequence_source = prokaryotic_genome
organism = 80
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= TRF
program = annotation_trf.pl
#----------------------------------------------------------------------------------
minimum_alignment_score = 25
matching_weight = 2
indel_penalty = 1000
indel_probability = 10
mismatch_penalty = 1000
maximum_period_size = 100
match_probability = 80
annotation_color = 000 255 000
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE=annotation_string
program = annotation_string.pl
#----------------------------------------------------------------------------------
minimum_score = 2
annotation_color = 000 255 000
report_file = string.txt
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================

#==================================================================================
PHASE=annotation_mreps
program = annotation_mreps.pl
#----------------------------------------------------------------------------------
annotation_color = 000 200 000
sliding_window = 10000
allowsmall = false
output_file = mreps.txt
start_search_at = 1
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#=================================================================================
##==================================================================================
PHASE= tRNAScan
program = annotation_trna.pl
#----------------------------------------------------------------------------------
secondary_structure_output_file = secondary
tRNA_search_model = -G
standard_output_file = /dev/null
annotation_color = 255 000 000
statistics_output_file = /dev/null
command_line_options =
program_path =
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= Alienhunter
program = annotation_alienhunter.pl
#----------------------------------------------------------------------------------
output_file=alienhunter.txt
sequence_file=regions_found.fas
annotation_color = 152 152 152
input_from_evidence = false
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= Infernal
program = annotation_infernal.pl
#----------------------------------------------------------------------------------
cm_database=/usr/local/genome/databases/Rfam/Rfam.cm.1_1
output_file=infernal.txt
table_file=sample.tbl
rfam_ncRNA_table=/usr/local/genome/databases/Rfam/rfam_type2ncRNA_class
cpus= 12
annotation_color = 123 234 255
input_from_evidence = false
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
##==================================================================================
PHASE= RNAmmer
program = annotation_rnammer.pl
##----------------------------------------------------------------------------------
superkingdom=bac
program_path=
input_from_evidence = false
annotation_color = 254 234 255
#===================================================================================
#===================================================================================
#                                         ||                                       #
#                                        _||_                                      #
#                                        \  /                                      #
#                                         \/                                       #
#===================================================================================
#
#===================================================================================
PHASE= TransTermHP
program = annotation_transterm.pl
##----------------------------------------------------------------------------------
newest_confidence_file = /usr/local/genome/transterm/expterm.dat
output_file = transterm.txt
annotation_color = 100 100 100
input_from_evidence = false
##==================================================================================
#===================================================================================
#                                         ||                                       #
#                                        _||_                                      #
#                                        \  /                                      #
#                                         \/                                       #
#===================================================================================
#===================================================================================
PHASE= Glimmer3
program = annotation_glimmer3.pl
#----------------------------------------------------------------------------------
output_file=glimmer3.txt
linear=yes
trans_table = 4
min_gene_length = 130
translation_fasta_file=genes
annotation_color=0 0 255
#===================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
PHASE=annotation_GCSkew
program = annotation_skews.pl
#----------------------------------------------------------------------------------
window=5000
step=100
base_X=G
base_Y=C
regular_output=yes
cumulative_output=
input_from_evidence = false
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE=annotation_hmmer
program = annotation_hmmer.pl
###----------------------------------------------------------------------------------
HMM_file=/home/aferreira/POSDOC/TESTE_MOD_OUT/DBPFAM/Pfam-A.hmm
score_threshold=0.1
number_of_top_scoring_matches = 5
command_line_options =
#output_file = hmmer.txt
input_from_evidence = true
annotation_color = 255 200 200
###==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= BigPI
program = annotation_bigpi.pl
#----------------------------------------------------------------------------------
learning_set = protozoa
output_file = bigpi.txt
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= PredGPI
program = annotation_predgpi.pl
#----------------------------------------------------------------------------------
model = general
output_file = predgpi.txt
input_from_evidence = true
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE=annotation_dgpi
program = annotation_dgpi.pl
#----------------------------------------------------------------------------------
input_from_evidence = true
output_file = dgpi.txt
#==================================================================================
#===================================================================================
#                                         ||                                       #
#                                        _||_                                      #
#                                        \  /                                      #
#                                         \/                                       #
#===================================================================================
#==================================================================================
PHASE= RBSfinder
program = annotation_rbsfinder.pl
#----------------------------------------------------------------------------------
rbs_region_length=
consensus_sequence=
output_file=rbsfinder.txt
program_path=
annotation_color= 125 125 255
##==================================================================================
#===================================================================================
#                                         ||                                       #
#                                        _||_                                      #
#                                        \  /                                      #
#                                         \/                                       #
#===================================================================================
#===================================================================================
PHASE= TCDB
program = annotation_tcdb.pl
#-----------------------------------------------------------------------------------
database=/usr/local/genome/databases/TCDB/TCDB
TCDB_file=/usr/local/genome/databases/TCDB/TCDB_ID_list
maximum_Evalue=1e-10
minimum_identity_percent = 50
minimum_similarity_percent =
output_file=tcdb.txt
program_path=
blast_num_threads= 12
input_from_evidence=true
#===================================================================================
#===================================================================================
#                                         ||                                       #
#                                        _||_                                      #
#                                        \  /                                      #
#                                         \/                                       #
#===================================================================================
#==================================================================================
PHASE= Phobius
program = annotation_phobius.pl
#----------------------------------------------------------------------------------
input_from_evidence = true
output_file = phobius.txt
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= TMHMM
program = annotation_tmhmm.pl
#----------------------------------------------------------------------------------
input_from_evidence = true
converter_eps2png = true
output_file = tmhmm.txt
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= SignalP
program = annotation_signalP.pl
#----------------------------------------------------------------------------------
model = euk
input_from_evidence = true
converter_eps2png = true
output_file = signalp.txt
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= BlastP x nr
program = annotation_blast.pl
#----------------------------------------------------------------------------------
program = blastp
database_code = INSD
database = /usr/local/genome/databases/nr/nr
input_from_evidence = true
command_line_options = -num_descriptions 10 -num_alignments 10 -num_threads 20
minimum_identity_percent = 0
output_file = blastp.txt
annotation_color = 000 255 112
number_of_top_scoring_matches = 2
maximum_Evalue = 1e-06
minimum_block_size = 0
minimum_similarity_percent = 55
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= Motif search with RPS-BLAST
program = annotation_rpsblast.pl
#----------------------------------------------------------------------------------
database = /usr/local/genome/databases/cdd/Cdd
input_from_evidence = true
command_line_options = -num_threads 20
number_of_top_scoring_matches = 2
maximum_Evalue = 5e-04
##=================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= Interpro search
program = annotation_interpro.pl
#-----------------------------------------------------------------------------------
GO_OBO_file = /usr/local/genome/databases/go/gene_ontology.obo
sequence_type = protein
output_file = interpro.txt
input_from_evidence = true
program_path =
command_line_options =
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= eggNOG orthology search
program = annotation_orthology.pl
#----------------------------------------------------------------------------------
database_code=eggnog
orthology_map_file=/usr/local/genome/databases/orthology/eggMap_v4
database=/usr/local/genome/databases/orthology/eggnogv4.proteins.all.fa
output_file = eggnog.txt
blast_num_threads= 20
input_from_evidence=true
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= KEGG pathway mapping
program = annotation_pathways.pl
#----------------------------------------------------------------------------------
organism_data_set = all_orgs
database_dir= /usr/local/genome/databases/kegg/genes/KEGG_fasta_database/
ko_file= /usr/local/genome/databases/kegg/ko/ko
output_file = kegg.txt
blast_num_threads = 20
input_from_evidence=true
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= Conclusions
program = report_conclusion.pl
#----------------------------------------------------------------------------------
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= Assign locus tag
program = assign_locus_tags.pl
#----------------------------------------------------------------------------------
locus_tag_prefix = Bact
locus_tag_digits = 2
reassign_locus_tags=no
next_locus_tag=1
#==================================================================================
