<!DOCTYPE html>
<div class="row">
	<div class="col-md-3">
		<p>Gene type:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.type %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Product description:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.uniquename %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Located in:</p>
	</div>
	<div class="col-md-9">
		<p>(from position [% result.fstart %] to [% result.fend %])</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Gene length:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.length %]</p>
	</div>
</div>
