#***********************************************************************************
#
PIPELINE= Report HTML da Bactéria do curso 
#
#***********************************************************************************
#===================================================================================
PHASE= Upload XML
program = upload_db.pl
ids_file = saida_db/saida_db.ids
#===================================================================================
                              # _||_ #
                              # \  / #
                              #  \/  #
#===================================================================================
PHASE= Report HTML
program = report_html.pl
#===================================================================================
organism_name = Bacteria do curso
index_file = index.html
background_image_file = 
component_name_list = annotation_trf.pl;annotation_trna.pl;annotation_alienhunter.pl;annotation_infernal.pl;annotation_rnammer.pl;annotation_transterm.pl;annotation_rbsfinder.pl;annotation_bigpi.pl;annotation_predgpi.pl;annotation_tcdb.pl;annotation_phobius.pl;annotation_tmhmm.pl;annotation_signalP.pl;annotation_blast.pl;annotation_rpsblast.pl;annotation_interpro.pl;annotation_orthology.pl;annotation_pathways.pl;annotation_hmmer.pl
FT_artemis_dir = reports/artemis_report_db
FT_submission_dir = reports_genbank_report_db
fasta_dir = seq
aa_fasta_dir = orfs_aa
nt_fasta_dir = orfs_nt
alienhunter_output_file = saida_db/annotation_alienhunter.pl_log_6/alienhunter.txt
infernal_output_file = saida_db/annotation_infernal.pl_log_7/infernal.txt
report_pathways_dir = reports/kegg_report_db
report_go_dir=reports/go_report_db
go_file=reports/go_report_db/go_mapping.html
report_eggnog_dir= reports/eggnog_report_db
eggnog_dir=saida_db/annotation_orthology.pl_log_24/eggnog_dir
database_code_list=INSD
#===================================================================================
