#**********************************************************************************
#
PIPELINE= Annotation of bacterial genome
#
#**********************************************************************************
#==================================================================================
PHASE= Upload FASTA
program = upload_fasta.pl
#----------------------------------------------------------------------------------
multifastafile = bacteria.fasta
sequence_type = n
use_quality = yes
quality_file =
set_quality = 13
project_name = "Bacteria_for_course"
project_description = "by Arthur Gruber"
sequence_source = prokaryotic_genome
organism = 80
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#===================================================================================
PHASE= Glimmer3
program = annotation_glimmer3.pl
#----------------------------------------------------------------------------------
output_file=glimmer3.txt
linear=yes
trans_table = 4
min_gene_length = 130
translation_fasta_file=genes
annotation_color=0 0 255
#===================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= TMHMM
program = annotation_tmhmm.pl
#----------------------------------------------------------------------------------
input_from_evidence = true
converter_eps2png = true
output_file = tmhmm.txt
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= Conclusions
program = report_conclusion.pl
#----------------------------------------------------------------------------------
#==================================================================================
#==================================================================================
#                                        ||                                       #
#                                       _||_                                      #
#                                       \  /                                      #
#                                        \/                                       #
#==================================================================================
#==================================================================================
PHASE= Assign locus tag
program = assign_locus_tags.pl
#----------------------------------------------------------------------------------
locus_tag_prefix = Bact
locus_tag_digits = 2
reassign_locus_tags=no
next_locus_tag=1
#==================================================================================
