<!DOCTYPE html>
<div class="content-wrapper">
    <div class="container">	
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        [% FOREACH text IN texts %]
                            [% IF text.tag.search('home') && !text.tag.search('value') %]
                                [% text.value %]
                            [% END %]
                        [% END %]
                    </div>
                    <div class="panel-body">
                    	<div class="row">
                    		<div class="col-md-7">
				                [% FOREACH text IN texts %]
				                    [% IF text.tag.search('home-value')%]
				                        [% text.value %]
				                    [% END %]
				                [% END %]
		                    </div>
		                    <div class="col-md-5">
								<img src="/assets/img/pmn_intro.png">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>Photos: Micrograph of <i>Photorhabdus luminescens</i> (notice crystalline protein inclusions in the cytosol) (upper photo); Differential interference contrast (Nomarski) microscopy of <i>Photorhabdus</i> in the anterior gut of <i>Heterorhabditis indica</i> LPP1, infective junvenile phase (lower photo). See the <b>About</b> section for details.</p>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
