<!DOCTYPE html>
<div class="content-wrapper">
    <div class="container">	
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        [% FOREACH text IN texts %]
                            [% IF text.tag.search('home') && !text.tag.search('value') %]
                                [% text.value %]
                            [% END %]
                        [% END %]
                    </div>
                    <div class="panel-body">
                        [% FOREACH text IN texts %]
                            [% IF text.tag.search('home-value')%]
                                [% text.value %]
                            [% END %]
                        [% END %]
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
