<!DOCTYPE html>
<div class="row">
	<div class="col-md-3">
		<p>Sequence name:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.seq_name %]</p>
	</div>
</div>
<div class="row">
        <div class="col-md-3">
                <p>Score:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.score %]</p>
        </div>
</div>
<div class="row">
        <div class="col-md-3">
                <p>Exon number:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.exon_number %]</p>
        </div>
</div>
<div class="row">
        <div class="col-md-3">
                <p>Length:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.length %]</p>
        </div>
</div>
<div class="row">
        <div class="col-md-3">
                <p>Genetic code:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.genetic_code %]</p>
        </div>
</div>
