<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        [% INCLUDE 'teste2/shared/_head.tt' %]
        <!-- import _head from Views/Shared -->
    </head>
    <body>
        <!-- CORE JQUERY SCRIPTS -->
        <script src="/assets/js/jquery-1.11.1.js"></script>
        <!-- BOOTSTRAP SCRIPTS  -->
        <script src="/assets/js/bootstrap.js"></script>
        [% INCLUDE 'teste2/shared/_header.tt' %]
        <!--import _header from Views/Shared-->
        [% INCLUDE 'teste2/shared/_menu.tt' %]
        <!--import _menu from Views/Shared-->
        [% content %]
        <!--Content page-->
        [% INCLUDE 'teste2/shared/_footer.tt' %]
        <!--import _footer from Views/Shared-->
    </body>
</html>
