<div class="content-wrapper">
	<div class="container">	
		<!--<div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Home</h4>

            </div>
        </div>-->
        <div class="row">
        	<div class="col-md-12">
        		<div class="panel panel-info">
        			<div class="panel-heading">
        				Information
        			</div>
        			<div class="panel-body">
		    			The <i>Photorhabdus luminescens</i> MN7 genome database (<b>PhotoBase</b>) is an integrated resource of genome sequencing and annotation data of the entomopathogenic enterobacterium <i>Photorhabdus luminescens</i> MN7. In addition to sequencing data, <b>PhotoBase</b> provides an organized catalog of functionally annotated predicted protein-coding and RNA genes, in addition to several DNA-based analysis results. The <b>PhotoBase</b> is maintained by the Coccidia Molecular Biology Research Group and the Nematode Molecular Biology Lab at the Institute of Biomedical Sciences, University of São Paulo, Brazil.
		    		</div>
        		</div>
        	</div>
        </div>
        
	</div>
</div>
