#***********************************************************************************
#
PIPELINE= Report HTML da Bactéria do curso 
#
#***********************************************************************************
#===================================================================================
#PHASE= Upload XML
#program = upload_xml.pl
#xml_file = bacteria.xml
PHASE= Upload DB
program = upload_db.pl
#----------------------------------------------------------------------------------
ids_file = saida_db/ids.ids
#===================================================================================
                              # _||_ #
                              # \  / #
                              #  \/  #
#===================================================================================
PHASE= Report HTML
program = report_html_db.pl
#===================================================================================
html_dir=TESTE4
organism_name=Bacteria do curso
uniquename=Bacteria
type_target_class_id=81525
pipeline=4528
fasta_dir = seq
aa_fasta_dir = orfs_aa
nt_fasta_dir = orfs_nt
fasta_file = bacteria.fasta
infernal_output_file=infernal.txt
alienhunter_output_file=alienhunter.txt
report_go_dir=/home/wendelhlc/git/report_html_db/report_html_db/teste_diretorio/db/saida_db/go_report_db/go_mapping.html;
report_eggnog_dir= /home/wendelhlc/git/report_html_db/report_html_db/teste_diretorio/db/saida_db/eggnog_report_db/classes.html;
report_pathways_dir = /home/wendelhlc/git/report_html_db/report_html_db/teste_diretorio/db/saida_db/kegg_report_db/classes.html;
report_kegg_organism_dir=/home/wendelhlc/git/report_html_db/report_html_db/teste_diretorio/db/saida_db/kegg_report_db/classes.html;/home/wendelhlc/git/report_html_db/report_html_db/teste_diretorio/db/saida_db/kegg_report_db/classes.html;
blast_dir_list=/home/wendelhlc/git/report_html_db/report_html_db/blastp_dir
database_code_list=INSD
TCDB_file=/usr/local/genome/databases/TCDB/TCDB_ID_list
ko_file= /usr/local/genome/databases/kegg/ko/ko
homepage_text_file = example.json
homepage_banner_image = /home/wendelhlc/Downloads/rsz_platypus256x256.png
filepath_log = /home/wendelhlc/git/report_html_db/report_html_db/teste_diretorio/db/saida_db/report_html_db.log
component_name_list = annotation_trf.pl;annotation_trna.pl;annotation_alienhunter.pl;annotation_infernal.pl;annotation_rnammer.pl;annotation_transterm.pl;annotation_rbsfinder.pl;annotation_bigpi.pl;annotation_predgpi.pl;annotation_tcdb.pl;annotation_phobius.pl;annotation_tmhmm.pl;annotation_signalP.pl;annotation_blast.pl;annotation_rpsblast.pl;annotation_interpro.pl;annotation_orthology.pl;annotation_pathways.pl
#===================================================================================
