#***********************************************************************************
#
PIPELINE= Report HTML da Bactéria do curso 
#
#***********************************************************************************
#===================================================================================
PHASE= Upload XML
program = upload_xml.pl
xml_file = saida_xml/saida_xml.xml
#===================================================================================
                              # _||_ #
                              # \  / #
                              #  \/  #
#===================================================================================
PHASE= Report HTML
program = report_html.pl
#===================================================================================
organism_name = Bacteria do curso
index_file = index.html
background_image_file = 
component_name_list = annotation_trf.pl;annotation_trna.pl;annotation_alienhunter.pl;annotation_infernal.pl;annotation_rnammer.pl;annotation_transterm.pl;annotation_rbsfinder.pl;annotation_bigpi.pl;annotation_predgpi.pl;annotation_tcdb.pl;annotation_phobius.pl;annotation_tmhmm.pl;annotation_signalP.pl;annotation_blast.pl;annotation_rpsblast.pl;annotation_interpro.pl;annotation_orthology.pl;annotation_pathways.pl;annotation_hmmer.pl
FT_artemis_dir = artemis_report
FT_submission_dir = genbank_report
fasta_dir = seq
aa_fasta_dir = orfs_aa
nt_fasta_dir = orfs_nt
alienhunter_output_file = saida_xml/alienhunter.txt
infernal_output_file = saida_xml/infernal.txt
report_pathways_dir = saida_xml/kegg_report
report_go_dir=saida_xml/go_report
go_file=saida_xml/go_mapping.html
report_eggnog_dir= saida_xml/eggnog_report
eggnog_dir=saida_xml/eggnog_dir
database_code_list=INSD
#===================================================================================
