<!DOCTYPE html>
<div class="panel panel-default result">
	<div class="panel-heading">
		<div class="panel-title">
			<a id="result-panel-title-[% result.feature_id %]" data-toggle="collapse" data-parent="#accordion" href="#[% result.feature_id %]">[% result.name %] - [% result.uniquename %]</a>
		</div>
	</div>
	<div id="[% result.feature_id %]" class="panel-body collapse">
	</div>
</div>