<!DOCTYPE html>
<div class="row">
	<div class="col-md-3">
		<p>Molecule type:</p>
	</div
	<div class="col-md-9">
		<p>[% result.molecule_type %]</p>
	</div
</div>
<div class="row">
	<div class="col-md-3">
		<p>Prediction score:</p>
	</div
	<div class="col-md-9">
		<p>[% result.score %]</p>
	</div
</div>