<!DOCTYPE html>
<div class="row">
	<div class="col-md-3">
		<p>E-value of match</p>
	</div>
	<div class="col-md-9">
		<p>[% result.evalue %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Percent identity</p>
	</div>
	<div class="col-md-9">
		<p>[% result.percent_id %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Percent similarity</p>
	</div>
	<div class="col-md-9">
		<p>[% result.similarity %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Alignment score</p>
	</div>
	<div class="col-md-9">
		<p>[% result.score %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Alignment length</p>
	</div>
	<div class="col-md-9">
		<p>[% result.block_size %]</p>
	</div>
</div>