<!DOCTYPE html>
<div class="row">
	<div class="col-md-3">
		<p>Gene name:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.type %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Amino acid:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.aminoacid %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Anticodon:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.anticodon %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Codon:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.codon %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Prediction score:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.score %]</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<p>Is pseudogene:</p>
	</div>
	<div class="col-md-9">
		<p>[% result.pseudogene %]</p>
	</div>
</div>