<!DOCTYPE html>
<div class="content-wrapper">
    <div class="container">
        [% INCLUDE 'website/global-analyses/_content.tt' %]
    </div>
</div>
<script type="text/javascript" src="/assets/js/site-client.js"></script>
<script type="text/javascript" src="/assets/js/action.js"></script>
