<!DOCTYPE html>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			[% result.descriptionComponent %]
		</div>
	</div>
	<div id="evidence-[% result.componentName %]-[% result.id %]" class="panel-body collapse">
	</div>
</div>

