<!DOCTYPE html>
<div class="content-wrapper">
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<input type="button" id="back" value="Back" class="btn btn-danger btn-lg" />
    		</div>
    	</div>
        [% INCLUDE 'website/search-database/_forms.tt' %]
        <section class="pagination-section">
	    	<div class="row">
	    		<div class="col-sm-2">
	    			<input type="button" id="begin" value="<<" class="btn btn-info btn-lg" />
	    		</div>
	    		<div class="col-sm-2">
	    			<input type="button" id="less" value="<" class="btn btn-info btn-lg" />
	    		</div>
	    		<form id="skipPagination">
		    		<div class="col-sm-2">
		    			<div class="row">
		    				<div class="col-md-6">
		    					<input type="number" id="numberPage" value="1" min="1" class="form-control" />
		    				</div>
		    				<div class="col-md-6"> 
		    					<p>pages of <span id="totalNumberPages" /></p>	
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-sm-2">
		    			<input type="submit" id="goPage" value="Go" class="btn btn-info btn-lg" />
		    		</div>
		    	</form>
	    		<div class="col-sm-2">
	    			<input type="button" id="more" value=">" class="btn btn-info btn-lg" />
	    		</div>
	    		<div class="col-sm-2">
	    			<input type="button" id="last" value=">>" class="btn btn-info btn-lg" />
	    		</div>
	    	</div>
    	</section>
    </div>
</div>
<script>
    $("#parentCollapseOne").click(function ()
    {
        $("#parentCollapseOne").removeClass("panel-default");
        $("#parentCollapseTwo").removeClass("panel-primary");
        $("#parentCollapseThree").removeClass("panel-primary");
        $("#parentCollapseOne").addClass("panel-primary");
        $("#parentCollapseTwo").addClass("panel-default");
        $("#parentCollapseThree").addClass("panel-default");
    });
    $("#parentCollapseTwo").click(function ()
    {
        $("#parentCollapseTwo").removeClass("panel-default");
        $("#parentCollapseOne").removeClass("panel-primary");
        $("#parentCollapseThree").removeClass("panel-primary");
        $("#parentCollapseTwo").addClass("panel-primary");
        $("#parentCollapseOne").addClass("panel-default");
        $("#parentCollapseThree").addClass("panel-default");
    });
    $("#parentCollapseThree").click(function ()
    {
        $("#parentCollapseThree").removeClass("panel-default");
        $("#parentCollapseTwo").removeClass("panel-primary");
        $("#parentCollapseOne").removeClass("panel-primary");
        $("#parentCollapseThree").addClass("panel-primary");
        $("#parentCollapseOne").addClass("panel-default");
        $("#parentCollapseTwo").addClass("panel-default");
    });
</script>

<script type="text/javascript" src="/assets/js/site-client.js"></script>
<script type="text/javascript" src="/assets/js/action.js"></script>


