<!DOCTYPE html>
<div class="row">
        <div class="col-md-3">
                <p>Start residue:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.start_residue %]</p>
        </div>
</div>
<div class="row">
        <div class="col-md-3">
                <p>End residue:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.end_residue %]</p>
        </div>
</div>
<div class="row">
        <div class="col-md-3">
                <p>Peptideo signal:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.pep_sig %]</p>
        </div>
</div>
<div class="row">
        <div class="col-md-3">
                <p>Cutoff:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.cutoff %]</p>
        </div>
</div>
<div class="row">
        <div class="col-md-3">
                <p>Score:</p>
        </div>
        <div class="col-md-9">
                <p>[% result.score %]</p>
        </div>
</div>
