<!DOCTYPE html>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="false"
	style="display: block;">
	<div class="modal-dialog">
		<div class="dashboard-div-wrapper bk-clr-five">
			<h5>Loading</h5>
			<i class="fa fa-cog fa-spin dashboard-div-icon"></i>


			<div class="progress progress-striped active">
				<div role="progressbar" aria-valuenow="40" aria-valuemin="0"
					aria-valuemax="100" style="width: 40%"
					class="progress-bar progress-bar-info"></div>

			</div>

		</div>
	</div>
</div>